<%- include('./partials/header') %>
<%- include('./partials/messages') %>

<div class="container">
    <img src="./images/meet.png" style="margin-left:20%;margin-right:20%;margin-top:5%;width:50%;">
</div>