<%- include('./partials/headertwo') %>

<div class="container" style="margin-top:5%;">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Your Profile</div>
        <div class="card-body">
          <p class="card-text">Username: <%=user.name%></p>
          <p class="card-text">Email: <%=user.email%></p>
  </div>
        </div>
    </div>

</div>
