<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/signin.css">
<div class="container">
  <%- include('./partials/messages') %>
    <form action="/signin" method="post">
        <fieldset>
          <legend>Sign In</legend>
          
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="email"  placeholder="Enter email" name="email">
           
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>
          
          <button type="submit" class="btn btn-dark">Submit</button>
           <span style="padding-left:20px;">No Account?</span> <a style="padding-left:10px;color:green;font-size:1.2rem;" href="/signup">Sign Up</a>
          
        </fieldset>
      </form>

</div>
